@mixin link-hover {
  transition: all 0.6s ease;
  opacity: 0.8;
  cursor : pointer;
}

@mixin new-post-btn ($right-position, $btn-color: linear-gradient(to bottom, #f5d364, #fca186)) {

  $btn-size: 140px;

  width: $btn-size;
  height: $btn-size;
  position: fixed;
  bottom: 35px;
  right: $right-position;
  z-index: 999;
  background: $btn-color;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 15px;
  }

  i.fa-plus {
    font-size: 48px;
  }

  &:hover {
    @include link-hover;
    color: #fff;
  }
}
