.paginationWrap {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  margin-bottom: 40px;

  ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;

      li {
        display: inline;
        margin-right: 4px;

        a {
          color: #2f3859;
          padding: 8px 14px;
          text-decoration: none;
        }

        a.active {
          background-color: #fbb27a;
          color: white;
          border-radius: 50px;
          width: 40px;
          height: 40px;
        }

        a:hover:not(.active) {
          background-color: #e1e7f0;
          border-radius: 50px;
        }
      }

      li.arrow {
        font-size: 20px;
      }
  }
}

