$profile-icon-size: 150px;
$user-icon-size: 60px;


.profile-icon {
  width: $profile-icon-size;
  height: $profile-icon-size;
  object-fit: cover;
}

.user-icon {
  width: $user-icon-size;
  height: $user-icon-size;
  object-fit: cover;
}

.user-form {
  margin: auto;
  width: 60%;
}

.image-upload:hover {
  @include link-hover;
}

::placeholder {
  font-size: 85%;
}

input[type="time"] {
  width: 40%;
}

.calendar {
  position:relative;
  color: #59698d;

  &::before {
    position:absolute;
      content: "";
      background:url(
        "https://asakotsu.s3-ap-northeast-1.amazonaws.com/images/calendar.png"
      ) no-repeat;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
  }
}

