$profile-icon-size: 150px;
$user-icon-size: 60px;


.profile-icon {
  width: $profile-icon-size;
  height: $profile-icon-size;
  object-fit: cover;
}

.user-icon {
  width: $user-icon-size;
  height: $user-icon-size;
  object-fit: cover;
}

.user-form {
  margin: auto;
  width: 60%;
}

.image-upload:hover {
  @include link-hover;
}

::placeholder {
  font-size: 85%;
}

input[type="time"] {
  width: 40%;
}

