/node_modules
/public/css
/public/images
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
/storage/*.key
/storage/debugbar

/vendor
.env
.env_backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/views/test.blade.php
